# Tarea #3

In [8]:
import pandas as pd
import numpy as np
import io
import os
from pathlib import Path

In [33]:
def read_list_csv(carpeta):
    list_files = []
    for item in carpeta.rglob('*'):
        if item.is_file():
            if str(item).endswith('.csv'):
                list_files += ['.\\' + str(item)]

    return list_files

ruta_admision = Path('./datos_ext/admision')
ruta_inscripcion = Path('./datos_ext/inscripcion')
ruta_matricula = Path('./datos_ext/matricula')
ruta_postulacion = Path('./datos_ext/postulacion')

list_files_admision = read_list_csv(ruta_admision)
list_files_inscripcion = read_list_csv(ruta_inscripcion)
list_files_matricula = read_list_csv(ruta_matricula)
list_files_postulacion = read_list_csv(ruta_postulacion)

In [83]:
df_postulacion_ = pd.DataFrame(columns=['año', 'cols', 'name_cols'])

for k in list_files_postulacion:
    df = pd.read_csv(k, sep=';', low_memory=False)
    df_postulacion_ = pd.concat([df_postulacion_, pd.DataFrame([int(k[-8:-4]), df.shape[1], df.columns], index=['año', 'cols', 'name_cols']).T])

In [88]:
df_postulacion_.sort_values('año')#['name_cols'].tolist()

    año cols                                          name_cols
0  2004   26  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2005   26  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2006   26  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2007   26  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2008   26  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2009   26  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2010   26  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2011   52  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2012   84  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2013   84  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2014   84  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2015   84  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2016   84  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2017  126  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2018  126  Index(['ID_aux', 'SIT_POSTULANTE', 'COD_CARRER...
0  2019  126  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2020  126  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2021  126  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2022  126  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2023  186  Index(['ID_aux', 'SITUACION_POSTULANTE', 'COD_...
0  2024    6  Index(['ID_aux', 'ORDEN_PREF', 'COD_CARRERA_PR...

In [93]:
df_matricula_ = pd.DataFrame(columns=['año', 'cols', 'name_cols'])

for k in list_files_matricula:
    df = pd.read_csv(k, sep=';', low_memory=False)
    df_matricula_ = pd.concat([df_matricula_, pd.DataFrame([int(k[-8:-4]), df.shape[1], df.columns], index=['año', 'cols', 'name_cols']).T])

In [94]:
df_matricula_

    año cols                                          name_cols
0  2024    7  Index(['ID_aux', 'CODIGO_UNIV', 'CODIGO', 'VIA...
0  2004    7  Index(['ID_aux', 'CODIGO_UNIV', 'VIA', 'CODIGO...
0  2005    7  Index(['ID_aux', 'CODIGO_UNIV', 'VIA', 'CODIGO...
0  2006    7  Index(['ID_aux', 'CODIGO_UNIV', 'VIA', 'CODIGO...
0  2007    7  Index(['ID_aux', 'CODIGO_UNIV', 'VIA', 'CODIGO...
0  2009    7  Index(['ID_aux', 'CODIGO_UNIV', 'VIA', 'CODIGO...
0  2010    7  Index(['ID_aux', 'CODIGO_UNIV', 'VIA', 'CODIGO...
0  2011    7  Index(['ID_aux', 'CODIGO_UNIV', 'VIA', 'CODIGO...
0  2012    8  Index(['ID_aux', 'CODIGO_UNIV', 'VIA', 'CODIGO...
0  2013    8  Index(['ID_aux', 'CODIGO_UNIV', 'VIA', 'CODIGO...
0  2014    8  Index(['ID_aux', 'CODIGO_UNIV', 'VIA', 'CODIGO...
0  2015    8  Index(['ID_aux', 'CODIGO_UNIV', 'VIA', 'CODIGO...
0  2016    8  Index(['ID_aux', 'CODIGO_UNIV', 'VIA', 'CODIGO...
0  2017    8  Index(['ID_aux', 'CODIGO_UNIV', 'VIA', 'CODIGO...
0  2018    8  Index(['ID_aux', 'CODIGO_UNIV', 'CODIGO', 'VIA...
0  2019    8  Index(['ID_aux', 'CODIGO_UNIV', 'CODIGO', 'VIA...
0  2020    8  Index(['ID_aux', 'CODIGO_UNIV', 'CODIGO', 'VIA...
0  2021    8  Index(['ID_aux', 'CODIGO_UNIV', 'CODIGO', 'VIA...
0  2022    8  Index(['ID_aux', 'CODIGO_UNIV', 'CODIGO', 'VIA...
0  2023    7  Index(['ID_aux', 'CODIGO_UNIV', 'CODIGO', 'VIA...

In [95]:
df_inscripcion_ = pd.DataFrame(columns=['año', 'cols', 'name_cols'])

for k in list_files_inscripcion:
    df = pd.read_csv(k, sep=';', low_memory=False)
    df_inscripcion_ = pd.concat([df_inscripcion_, pd.DataFrame([int(k[-8:-4]), df.shape[1], df.columns], index=['año', 'cols', 'name_cols']).T])

ValueError: invalid literal for int() with base 10: '5INV'

In [97]:
list_files_inscripcion

['.\\datos_ext\\inscripcion\\Inscritos_Admisión2004\\ArchivoB_Adm2004.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2005\\ArchivoB_Adm2005.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2006\\ArchivoB_Adm2006.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2007\\ArchivoB_Adm2007.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2008\\ArchivoB_Adm2008.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2009\\ArchivoB_Adm2009.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2010\\ArchivoB_Adm2010.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2011\\ArchivoB_Adm2011.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2012\\ArchivoB_Adm2012.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2013\\ArchivoB_Adm2013.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2014\\ArchivoB_Adm2014.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2015\\ArchivoB_Adm2015.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2016\\ArchivoB_Adm2016.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2017\\ArchivoB_Adm2017.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2018\\ArchivoB_Adm2018.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2019\\ArchivoB_Adm2019.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2020\\ArchivoB_Adm2020.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2021\\ArchivoB_Adm2021.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2022\\ArchivoB_Adm2022.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2023\\ArchivoB_Adm2023.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2024\\ArchivoB_Adm2024.csv',
 '.\\datos_ext\\inscripcion\\Inscritos_Admisión2025\\ArchivoB_Adm2025INV.csv']

In [96]:
df_inscripcion_

    año cols                                          name_cols
0  2004   43  Index(['ID_aux', 'ANYO_PROCESO', 'NACIONALIDAD...
0  2005   43  Index(['ID_aux', 'ANYO_PROCESO', 'NACIONALIDAD...
0  2006   43  Index(['ID_aux', 'ANYO_PROCESO', 'NACIONALIDAD...
0  2007   43  Index(['ID_aux', 'ANYO_PROCESO', 'NACIONALIDAD...
0  2008   43  Index(['ID_aux', 'ANYO_PROCESO', 'NACIONALIDAD...
0  2009   43  Index(['ID_aux', 'ANYO_PROCESO', 'NACIONALIDAD...
0  2010   45  Index(['ID_aux', 'ANYO_PROCESO', 'NACIONALIDAD...
0  2011   46  Index(['ID_aux', 'ANYO_PROCESO', 'NACIONALIDAD...
0  2012   47  Index(['ID_aux', 'ANYO_PROCESO', 'NACIONALIDAD...
0  2013   47  Index(['ID_aux', 'ANYO_PROCESO', 'NACIONALIDAD...
0  2014   47  Index(['ID_aux', 'ANYO_PROCESO', 'NACIONALIDAD...
0  2015   47  Index(['ID_aux', 'ANYO_PROCESO', 'NACIONALIDAD...
0  2016   47  Index(['ID_aux', 'ANYO_PROCESO', 'NACIONALIDAD...
0  2017   50  Index(['ID_aux', 'ANYO_PROCESO', 'NACIONALIDAD...
0  2018   41  Index(['ID_aux', 'ANYO_PROCESO', 'ANYO_EGRESO'...
0  2019   43  Index(['ID_aux', 'ANYO_PROCESO', 'ANYO_EGRESO'...
0  2020   44  Index(['ID_aux', 'ANYO_PROCESO', 'ANYO_EGRESO'...
0  2021   58  Index(['ID_aux', 'ANYO_PROCESO', 'ANYO_EGRESO'...
0  2022   52  Index(['ID_aux', 'ANYO_PROCESO', 'ANYO_EGRESO'...
0  2023   20  Index(['ID_aux', 'ANYO_PROCESO', 'SEXO', 'RBD'...
0  2024   20  Index(['ID_aux', 'ANYO_PROCESO', 'FECHA_NACIMI...